
.cart-head-wrap{
    height:40px;
    width:48px;
    background:url('images/shoppingCart.png') no-repeat;
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}

.cart-head-wrap:hover{
    color: #000000;
}

.cart-head-item-count{
    margin-right: -6px;
    margin-top: -10px;
    border: 1px solid #ddd;
    /* padding: 4px; */
    text-align: center;
    /* vertical-align: inherit; */
    background: #fff;
    border-radius: 20px;
    height: 20px;
    line-height: 8px;
    /* width: 20px; */
    padding: 5px;
    display: inline-block;
}

.cart-head-total{}

.cart-head-currency{}