#cartcontainer{}
.cartitemsdiv{
    padding: 10px;
    border: 1px solid #aaa;
    border-bottom: none;
}
.cartitemsdiv.lastitem{
     border-bottom: 1px solid #aaa;
}
.cart-product{
    min-height:160px;
}

.cartitemimgdiv{
    vertical-align: top;
    width:29%;
    position:relative;
    min-height: 160px;
}
.cartitemimg{

}
.cartitemimg > a > img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}

.cartitemvariants{
    margin-bottom: 15px;
    padding: 0px 20px;
}

.cartitemdetailsdiv{
    width:70%;
}

.cartitemdetails .header, .cartitemdetails .detail{
    width:29%;
}
.cartitemdetails{
    width:100%;
    padding-left:15px;
}
.cartitemdetailstore{
    float:left;
}
.cart-product-price{
}
#quantity.product-quantity{height:30px;}

.cartitemdetailquantity{margin-top:15px;}
.cart-product-update a{float:left; cursor:pointer;}
.cart-product-remove{float:left; cursor:pointer;}

#cartfooter{}
#carttotalssepdiv{
    display:inline-block;
    width:70%;
}
#carttotalsdiv{
    display:inline-block;
    width:30%;
    margin-right: 70%;
    border: 1px solid #aaa;
    border-top: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px;
}
#carttotalsdiv .header{
    width: 50%;
}

/*
      RESPONSIVENESS-NESS!
*/
@media screen and (min-width: 300px) and (max-width: 540px){
    .cart-product .inline, .cartitemdetailstore{
        display:block;
        width:100%;
    }
    #carttotalsdiv{
        margin:0px;
        width:100%;
    }
    .carttotals-actions{
        text-align: center;
    }
    .carttotals-actions a {margin-bottom: 5px;}

    .cartitemimg > a > img {
        margin: 0;
        position: relative;
        top: auto;
        left: auto;
        transform: inherit;
        height: 100%;
    }
}
@media screen and (min-width: 540px) and (max-width: 768px){
    .cartitemimgdiv.inline, .cartitemdetailsdiv.inline{
        display:block;
        width:100%;
    }
    #carttotalsdiv{
        margin:0px;
        width:100%;
    }
    .carttotals-actions{
        text-align: center;
    }
    .carttotals-actions a {margin-bottom: 5px;}
}
@media screen and (min-width: 768px) and (max-width: 960px){
    #carttotalsdiv{
        width:40%;
        margin-right: 60%;
    }
    .carttotals-actions{
        text-align: center;
    }
    .carttotals-actions a {margin-bottom: 5px;}
}
@media screen and (min-width: 960px) and (max-width: 1200px){}
@media screen and (min-width: 1200px){}

