.nolistbull{list-style: none outside none;}
.inline{display:inline-block;}
.size12{width:12%;}
.size25{width:25%;}
.size50{width:50%;}
.flright{float:right;}
.flleft{float:left;}

/* Search Widget BEGIN*/
#search-product{
    height:30px;
    width: 300px;
}
.form-inline{
    display: inline-block;
    margin: 0px;
}
/* END Search Widget */