.nolistbull{list-style: none outside none;}
.inline{display:inline-block;}
.size12{width:12%;}
.size25{width:25%;}
.size50{width:50%;}
.flright{float:right;}
.flleft{float:left;}

/* Search Widget BEGIN*/
#search-product{
    height:30px;
    width: 300px;
}
.form-inline{
    display: inline-block;
    margin: 0px;
}


/* END Search Widget */

/* Search Page BEGIN*/
.searchresultsul{}
.searchresultentry{
    display: block;
    float: left;
    width: 100%;
}
.imgdiv{
    border: 1px solid #ddd;
    margin: 10px 20px 10px 20px;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 225px;
    display: inline-block;
    float:left;
}
.imgdiv img{
    max-height: 225px !important;
}
.catspan{
    float: right;
    font-size: 12px;
    color: #999;
    font-weight: normal;
    padding-right: 30px;
}
.minidetails{
    width: 25%;
    display: inline-block;
    float: left;
}
.viewproductdiv{
    width: 15%;
    display: inline-block;
    float: right;
}
/* END Search Page*/

/* Product Page BEGIN */

#toppicturepanel{
    float: left;
    display:inline-block;
}
#productchoices{

}
#middlecontainer{
    min-height: 490px;
}
#topdetailspanel{

}

input[type="number"]{
    width:60px;
    height:30px !important;
}
.topratedsellerimg{
    background-image: url("images/topratedseller.png");
    width: 80px;
    height:19px;
    display:inline-block;
}
.productCategoryText h4{
    font-size: 14px;
    color: #888;
}
#detailscontainer{
    padding: 20px 20px 20px 15px;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 4px 4px 1px #eee;
}
#itemspecs{
    border: 1px solid #ccc;
    padding: 10px 20px 10px 20px;
    margin-bottom: 10px;
}
#itemIDspec{
    font-size: 10px;
    color: #777;
}
#ordercontainer{
    padding:5px;
    background: #e2e2e2;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#detailscontainer{
    overflow: auto;
}

#shippmentdiv .radiocol{
    display: inline-block;
    width: 10%;
}
#shippmentdiv .namecol{
    display: inline-block;
    width: 60%;
}
#shippmentdiv .pricecol{
    display: inline-block;
    width: 20%;
}
#shippmentdiv label{cursor: pointer;}
#shippmentdiv {border: 1px solid #ddd;}
#shippmentdiv > div {border-bottom: 1px solid #eee;}
#shippingcostsdets{border-top: 1px dashed #ccc;}

/* ++++ Product Page Responsiveness ++++ */
@media screen and (min-width: 300px) {
    #productchoices select {width:99%;}
    .inline {display:block;}
    #toppicturepanel, #productchoices, #quicksummary, #ordercontainer {width: 100%;}
}
@media screen and (min-width: 540px){
    #productchoices select {width:99%;}
    #productchoices .inline {display: inline-block; width:55%;}
    #productchoices .header{width:40%;}

    #quicksummary .inline{display:inline-block;}
    #pricinginfo{width: 60%;}
    #pricinginfo .header{width:70%;}
    #totalprice{width: 38%;}

    #itemspecs .inline{display:inline-block;}
    #itemspecs .header{width:100%;}
    #itemspecs .block{width:49%;}

}
@media screen and (min-width: 720px){
    #toppicturepanel, #productchoices{  width: 50%;}
    #productchoices .inline {display: block;width:100%;}

}
@media screen and (min-width: 960px) {
    #productchoices .inline {display: inline-block; width:55%;}
    #quicksummary {width: 50%;}

    #itemspecs .inline{width:45%;}
    #itemspecs .header{width:45%;float: right;}
    #itemspecs .block{width:49%;}

}
@media screen and (min-width: 1200px) {
    .inline {display:inline-block;}
    #productchoices .header{width:30%;}
    #ordercontainer{width: 50%;}
}

/* END Product Page*/