/* Search Widget BEGIN*/
#searchwidgetcont{
    display: inline-block;
    width:100%;
    margin-bottom:0px;
}
#searchwidgetdiv{
    display:block;
}
#searchwidgetinput{
    height:42px;
    width: 85%;
}
#searchwidgetbutton{
    height:42px;
    width: 15%;
}
/* END Search Widget */