#storeLocateInput, #storeLocateButton{height:30px;}
#mapcontdiv, #storescontdiv{text-align: center;}
#storeLocateInput{width:inherit;}
#mapcontdiv{
    display: inline-block;
    width:50%;
    vertical-align: top;
    box-shadow: #ddd 1px 1px 1px 1px;
    margin-right: 10px;
    padding: 10px;
}
#mapdiv{}
#mapdiv .aStoreDiv{
    width: 100%;
}
#mapdiv .aStoreDiv .aStoreImageDiv{
    width: 100%;
    height: 400px;
}
#mapiframe{
    margin: 0px;
}

#storescontdiv{
    display: inline-block;
    max-width:40%;
    vertical-align: top;
    box-shadow: #ddd 1px 1px 1px 1px;
    margin-right: 10px;
    padding: 10px;
}
.aStoreDiv{
    display: inline-block;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.aStoreTitle{
    background: #F5F5F5;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

#storescontdiv .aStoreDiv{
    cursor:pointer;
}

/*
      RESPONSIVENESS-NESS!
*/
@media screen and (min-width: 300px) and (max-width: 540px){
    #mapcontdiv, #storescontdiv{display:block;width:95%;max-width:95%}
}
@media screen and (min-width: 540px) and (max-width: 768px){
    #mapcontdiv, #storescontdiv{display:block;width:95%;max-width:95%}
}
@media screen and (min-width: 768px) and (max-width: 960px){
    #mapcontdiv, #storescontdiv{display:block;width:95%;max-width:95%}
}
@media screen and (min-width: 960px) and (max-width: 1200px){
    #mapcontdiv, #storescontdiv{display:block;width:95%;max-width:95%}
}
@media screen and (min-width: 1200px){}