/*
        Theme design
*/
.widget_logowidget.rt-block{
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    top: -15px;
}
#websitelogo{
    /*background: url("../templates/theme/css/images/website-logo.png") no-repeat;*/
    display:inline-block;
}

.widget_searchwidget.rt-block{margin-bottom:0;padding-bottom: 0;}
.gf-menu{
    width:80%;
}

.exchangePanelCont{}
.exchangePanelCont span{color:#2698de;}
.exchangePanelCont .inline.detail {
    float:left;
}
.exchangePanelCreds{
    text-align: center;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    margin-top: 15px;
    border: 1px solid #ddd;
    background: #fafafa;
}

.storeCommissionCont .detail{
    margin-right:25px;
}